* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	position: relative;
	background-color: #1c1e21;
	height: 100%;
	color: #fff;
	overflow: hidden;
	font-weight: lighter;
	font-family: PingFangSC-Ultralight, sans-serif;
}
.help {
	position: relative;
	z-index: 999;
}
.nav {
	position: fixed;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.nav li {
	margin-bottom: 8px;
	list-style: none;
	width: 4px;
	height: 4px;
}
.nav-container {
	display: flex;
	align-items: center;
	position: fixed;
	right: 60px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}
.nav-text-container {
	display: flex;
	/*flex-direction: column;*/
	overflow: hidden;
	width: 40px;
	/*height: 150px;*/
}
.no-active {
	background-color: #6b6d6e;
}
.nav-active {
	background-color: #fff;
}
.nav-text {
	writing-mode: tb;
	letter-spacing: 7px;
	margin-left: 10px;
}
.nav-sign-container {
	display: flex;
	overflow: hidden;
	margin-right: 10px;
}
.nav-top {
	position: absolute;
	width: 1px;
	height: 10px;
	background-color: #fff;
	top: -20px;
	right: 15px;
}
.nav-bottom {
	position: absolute;
	width: 1px;
	height: 10px;
	background-color: #fff;
	bottom: -20px;
	right: 15px;
}
.second-text, .third-text {
	opacity: 0;
}
.index-container {
	position: relative;
	height: 100%;
}
.second-container {
	position: relative;
	height: 100%;
}
.third-container {
	position: relative;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mobile {
	position: absolute;
    height: 700px;
    bottom: -60px;
    left: 250px;
}
.video-container {
	position: absolute;
    height: 520px;
    width: 290px;
    bottom: 10px;
    left: 297px;
    z-index: 99;
    perspective: 1600px
}
.video {
	width: 100%;
	height: 100%;
    z-index: 99;
    transform: rotateY(45deg);
    perspective: 1600px;
}
.second-content-container {
	position: absolute;
    bottom: 300px;
    left: 45%;
    z-index: 99;
}
.second-title-container {
	position: relative;
	width: 600px;
    font-size: 36px;
    letter-spacing: 10px;
    height: 300px;
}
.second-title-container span {
	position: absolute;
	bottom: 50px;
}
.second-underline {
	width: 60px;
	height: 1px;
	background-color: #383a3d;
}
.second-text-container {
	margin-top: 50px;
	color: #8e8f90;
	letter-spacing: 5px;
}
.third-quark-container {
	padding: 10px 30px;
	position: relative;
	float: left;
}
.third-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 15px;
	background-color: #383a3d;
}
.third-top {
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	width: 15px;
	background-color: #383a3d;
}
.third-right {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 15px;
	width: 1px;
	background-color: #383a3d;
}
.third-bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 1px;
	width: 15px;
	background-color: #383a3d;
}
.third-title-container {
	display: flex;
	align-items: center;
	font-size: 36px;
	letter-spacing: 5px;
}
.third-text-container {
	margin-top: 30px;
	color: #8e8f90;
	letter-spacing: 5px;
}
.copyright-container {
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	font-size: 11px;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #767779;
}
.copyright-c {
	padding: 0 2px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #3a3c3f;
}
.copyright-text {
	margin-top: 10px;
	display: flex;
}
.copyright-text span {
	float: left;
}
.logo-container {
	position: absolute;
	width: 100%;
	overflow: hidden;
	padding-top: 40px;
	z-index: 99;
}
.logo-container span {
	
}
.logo-container img {
	margin-left: 10px;
	height: 20px;
}
.name-container {
	display: flex;
	align-items: center;
	float: left;
	margin-left: 50px;
	letter-spacing: 5px;
}
.quark-container img{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
.develop-container {
	float: right;
	margin-right: 40px;
}
.help-container {
	float: right;
	margin-right: 40px;
}
.download-container {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border: 1px solid #383a3d;
	bottom: 100px;
	font-size: 20px;
	letter-spacing: 5px;
    padding: 5px 15px;
}
.left-light {
	position: absolute;
	width: 10px;
	background-color: #fff;
	left: 0;
	transform: translateX(-50%);
	top: 50%;
	height: 1px;
}
.right-light {
	position: absolute;
	width: 10px;
	background-color: #fff;
	right: 0;
	transform: translateX(50%);
	top: 50%;
	height: 1px;
}
.circle {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 480px;
	height: 480px;
	transform: translate(-50%, -50%);
}
.indexAnimation {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 480px;
	transform: translate(-50%, -50%);
}
.shadow {
	width: 390px;
	height: 390px;
	background-color: #fff;
	border-radius: 50%;
	z-index: -99;
	background-color: #1c1e21;
	box-shadow: 0px 0px 20px 6px #3e2d84;
}
.threeDBall {
	position: absolute;
	top: 63%;
	left: 56%;
	width: 200px;
	transform: translate(-50%, -50%);
}
.ball1 {
	position: absolute;
	height: 286px;
	top: 90px;
	right: -120px;
}
.ball2 {
	position: absolute;
	height: 100px;
	right: 200px;
	bottom: 200px;
}
.ball3 {
	position: absolute;
	height: 150px;
	top: 200px;
	left: 200px;
}
.ball4 {
	width: 300px;
	position: absolute;
	bottom: -70px;
	left: -70px;
}
.ball5 {
	width: 700px;
	position: absolute;
	bottom: -50%;
	left: 60%;
}
.qr-container {
	display: flex;
	opacity: 0;
	z-index: 999;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 570px;
	height: 200px;
	background-color: #1c1e21;
}
.mobile-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
}
.android-container {
	position: relative;
	display: flex;
	align-items: center;
	margin: 50px 40px 0 40px;
}
.android-container img {
	height: 20px;
}
.download-btn {
	position: absolute;
	right: 10px;
	padding: 5px 15px;
	border: 1px solid #303134;
}
.mobile-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 1px;
	height: 110px;
	background-color: #303134;
}
.qr-content {
	width: 40%;
	position: relative;
}
.qr-img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 110px;
	transform: translate(-50%, -50%);
}
.close-img {
	position: absolute;
	right: 0;
	height: 15px;
	top: -25px;
}
.mask-container {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #0e0f10;
	opacity: 0.5;
}

/**媒体查询大于1500px的屏幕**/
@media screen and (min-width: 1500px) {
	.circle {
		transform: translate(-50%, -50%) scale(1.2);
	}
	.mobile, .video-container {
		transform: scale(1.5);
	}
	.mobile {
		bottom: -40px;
		left: 300px;
	}
	.video-container {
		left: 347px;
		bottom: -20px;
	}
	.second-title-container {
		font-size: 40px;
	}
}
/**移动端**/
@media screen and (max-width:321px) {
	/**iphone5以及4**/
    html {
        font-size:12px!important
    }
    .mobile, .video-container, .indexAnimation {
		transform:  translate(-50%, -50%) scale(.4);
	}
}
@media screen and (min-width: 322px) and (max-width:375px) {
	/**iphone6**/
    html {
        font-size:16px!important
    }
    .mobile, .video-container, .indexAnimation {
		transform:  translate(-50%, -50%) scale(.5);
	}
}

@media screen and (min-width: 376px) and (max-width:640px) {
	/**iphone6 plus**/
    html {
        font-size:20px!important
    }
    .mobile, .video-container, .indexAnimation {
		transform:  translate(-50%, -50%) scale(.6);
	}
}
@media screen and (min-width: 641px) and (max-width:1050px) {
	/**iphone6 plus**/
    html {
        font-size:20px!important
    }
    .mobile, .video-container, .indexAnimation {
		transform:  translate(-50%, -50%) scale(1);
	}
}
/**移动端通用样式**/
@media screen and (max-width: 1050px) {
	.logo-container {
		padding-top: 30px;
		display: flex;
		justify-content: space-between;
	}
	.name-container {
		margin-left: 27px;
	}
	.quark-community, .help, .develop-container, .nav-container, .ball2, .ball5, .second-text-container, .third-text-container, .comma, .nav
	, .pc-text, .layer {
		display: none;
	}
	.download-container {
		bottom: 50px;
	}
	.circle {
		transform: translate(-50%, -50%) scale(.5);
	}
	.ball1 {
		position: absolute;
		height: 7.875rem;
		left: -1.25rem;
	}
	.ball3 {
		position: absolute;
		height: 9.375rem;
		top: 60%;
		left: 70%;
	}
	.ball4 {
		width: 12.5rem;
		position: absolute;
		bottom: -6.25rem;
		left: -6.25rem;
	}
	.mobile, .video-container {
		position: absolute;
		left: 50%;
		top: 50%;
	}
	.video-container {
		left: 53%;
		top: 52%;
	}
	.second-content-container {
		left: 50%;
		transform: translateX(-50%);
		bottom: 50px;
	}
	.second-title-container {
		font-size: 20px;
	}
	.second-title-container span {
		position: absolute;
		left: 50%;
		transform: translateX(-45%);
		pointer-events: none;
	}
	.third-title-container {
		font-size: 1.65rem;
		flex-direction: column;
	}
	.third-quark-container {
		margin-bottom: 10px;
	}
	.copyright-container {
		width: 100%;
		justify-content: center;
	}
}

